[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
tasktracker = {path = "./output/dist/v0-0-4/tasktracker-0.0.4.tar.gz"}

[dev-packages]
black = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
